<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=stylesheet type="text/css" href="style-login.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <script>
 function post_login(){

  var email = $('#email').val();
  var password = $('#password').val();
  var datas={"email": email, "password": password};

    $.ajax({
                  url: 'https://stormy-fjord-31975.herokuapp.com/login',
                  method:"POST",
                  dataType:'json',
                  data: datas,
                  xhrFields: {
                    withCredentials: true
                  },
                  success: function(response){
                    console.log(response);
                    if(response.status == 400){
                      $("#checkLogin-btn").attr("data-target","#myModal-fail");
                      $("#checkLogin-btn").click();
                    }
                  },
                   error:function(xhr, ajaxOptions, thrownError){ 
                      alert(xhr.status); 
                      alert(thrownError); 
                   }
              });
}


  </script>
  </head>

  <body>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">登入</button>
  <button type="button" class="btn btn-primary btn-lg hidden" id="checkLogin-btn" data-toggle="modal" data-target="#checkLogin">check</button>

<!-- 登入視窗 -->
<div class="modal fade fade-window" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">VOITE!</h2>    
      </div>
      <div class="modal-body">
        <div class="input">
          <label>帳號 :
            <input type="text" class="inputbox" id="email">
          </label>
          <br>
          <label>密碼 :
            <input type="text" class="inputbox" id="password">
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-login" onClick="post_login();" data-dismiss="modal">登入</button>
      </div>
    </div>
  </div>
</div>

<!-- 登入失敗視窗 -->
<div class="modal fade fade-window" id="myModal-fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
       <h3>帳號或密碼輸入錯誤!!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
